/*
=============== 
Variables
===============
*/

:root {
  --color-primary: #eb7968;
  --color-secondary: #cfc5c5;
  --color-tertiary: #f6c2ba;
  --color-quaternary: #f9f4f4;

  --color-dark-blue: #1b325f;
  --color-black: #000000;
  --color-white: #fff;
  --color-dark-grey: #2a3b3a;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--color-secondary);
  color: var(--color-dark-blue);
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 100vh;
  transition: all 0.3s linear;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.m-sm-y {
  margin: 1rem 0;
}
.m-m-y {
  margin: 1.5rem 0;
}
.m-l-y {
  margin: 2rem 0;
}
